.prose-a {
  border-bottom: 1px dashed;
  font-weight: bolder;
  line-height: 1.6;
  padding: 0 0.2em 0.2em;
  position: relative;
  text-decoration: none;
  vertical-align: baseline;
}
.prose-a,
.prose-a:visited {
  color: var(--blog-brand-light);
}
.prose-a:hover {
  color: var(--blog-brand-highlight);
}
.prose-a:active {
  color: var(--blog-brand-light);
}
.prose-a .external-icon {
  margin-left: -0.8em;
  opacity: 0;
  -webkit-transform: translate(0.8em, -0.8em);
  transform: translate(0.8em, -0.8em);
}
.prose-a:hover .external-icon {
  opacity: 1;
}
