.title[data-v-98ff1997] {
  color: var(--blog-text-h);
  font-size: var(--blog-font-size-h2);
  margin: 0.2em 0;
  padding-left: 0.2em;
}
.link[data-v-98ff1997] {
  color: inherit;
  text-decoration: none;
}
.symbol[data-v-98ff1997] {
  color: var(--blog-brand-light);
  opacity: 0;
}
.title:hover .symbol[data-v-98ff1997] {
  opacity: 1;
}
