:root {
  --blog-white: #ffffff;
  --blog-white-soft: #f9f9f9;
  --blog-white-mute: #f1f1f1;
  --blog-black: #1a1a1a;
  --blog-black-pure: #000000;
  --blog-black-soft: #242424;
  --blog-black-mute: #2f2f2f;
  --blog-black-regular: #1e1e1e;
  --blog-indigo: #213547;
  --blog-indigo-soft: #476582;
  --blog-indigo-light: #aac8e4;
  --blog-gray: #8e8e8e;
  --blog-gray-light-1: #aeaeae;
  --blog-gray-light-2: #c7c7c7;
  --blog-gray-light-3: #d1d1d1;
  --blog-gray-light-4: #e5e5e5;
  --blog-gray-light-5: #f2f2f2;
  --blog-gray-dark-1: #636363;
  --blog-gray-dark-2: #484848;
  --blog-gray-dark-3: #3a3a3a;
  --blog-gray-dark-4: #282828;
  --blog-gray-dark-5: #202020;
  --blog-divider-light-1: rgba(60, 60, 60, 0.29);
  --blog-divider-light-2: rgba(60, 60, 60, 0.12);
  --blog-divider-dark-1: rgba(84, 84, 84, 0.65);
  --blog-divider-dark-2: rgba(84, 84, 84, 0.48);
  --blog-text-light-1: var(--blog-indigo);
  --blog-text-light-2: rgba(60, 60, 60, 0.7);
  --blog-text-light-3: rgba(60, 60, 60, 0.33);
  --blog-text-light-4: rgba(60, 60, 60, 0.18);
  --blog-text-light-code: var(--blog-indigo-soft);
  --blog-text-dark-1: rgba(255, 255, 255, 0.87);
  --blog-text-dark-2: rgba(235, 235, 235, 0.6);
  --blog-text-dark-3: rgba(235, 235, 235, 0.38);
  --blog-text-dark-4: rgba(235, 235, 235, 0.18);
  --blog-text-dark-code: var(--blog-indigo-light);
  --blog-green: #42b883;
  --blog-green-light: #42d392;
  --blog-green-lighter: #35eb9a;
  --blog-green-dark: #33a06f;
  --blog-green-darker: #155f3e;
  --blog-blue: #3b8eed;
  --blog-blue-light: #549ced;
  --blog-blue-lighter: #50a2ff;
  --blog-blue-dark: #3468a3;
  --blog-blue-darker: #255489;
  --blog-yellow: #ffc517;
  --blog-yellow-light: #ffe417;
  --blog-yellow-lighter: #ffff17;
  --blog-yellow-dark: #e0ad15;
  --blog-yellow-darker: #bc9112;
  --blog-red: #ed3c50;
  --blog-red-light: #f43771;
  --blog-red-lighter: #fd1d7c;
  --blog-red-dark: #cd2d3f;
  --blog-red-darker: #ab2131;
  --blog-purple: #de41e0;
  --blog-purple-light: #e936eb;
  --blog-purple-lighter: #f616f8;
  --blog-purple-dark: #823c83;
  --blog-purple-darker: #602960;
  --blog-border-color-darker: #636466;
  --blog-border-color-dark: #58585b;
  --blog-border-color-light: #e4e7ed;
  --blog-border-color-lighter: #ebeef5;
}

:root {
  --blog-bg: var(--blog-white);
  --blog-bg-soft: var(--blog-white-soft);
  --blog-bg-mute: var(--blog-white-mute);
  --blog-bg-regular: var(--blog-gray-light-5);
  --blog-divider: var(--blog-divider-light-1);
  --blog-divider-light: var(--blog-divider-light-2);
  --blog-divider-inverse: var(--blog-divider-dark-1);
  --blog-divider-inverse-light: var(--blog-divider-dark-2);
  --blog-text-h: var(--blog-gray-dark-1);
  --blog-text-1: var(--blog-text-light-1);
  --blog-text-2: var(--blog-text-light-2);
  --blog-text-3: var(--blog-text-light-3);
  --blog-text-4: var(--blog-text-light-4);
  --blog-text-code: var(--blog-text-light-code);
  --blog-text-inverse-1: var(--blog-text-dark-1);
  --blog-text-inverse-2: var(--blog-text-dark-2);
  --blog-text-inverse-3: var(--blog-text-dark-3);
  --blog-text-inverse-4: var(--blog-text-dark-4);
  --blog-brand: var(--blog-green);
  --blog-brand-light: var(--blog-green-light);
  --blog-brand-dark: var(--blog-green-dark);
  --blog-brand-highlight: var(--blog-brand-dark);
  --blog-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --blog-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --blog-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --blog-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --blog-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
  --blog-border-color-1: #dcdfe6;
  --blog-border-color-2: var(--blog-border-color-dark);
  --blog-border-color-3: var(--blog-border-color-lighter);
  --blog-shadow-color: var(--blog-gray);
}

html.dark {
  color-scheme: dark;
  --blog-bg: var(--blog-black);
  --blog-bg-soft: var(--blog-black-soft);
  --blog-bg-mute: var(--blog-black-mute);
  --blog-bg-regular: var(--blog-black-regular);
  --blog-divider: var(--blog-divider-dark-1);
  --blog-divider-light: var(--blog-divider-dark-2);
  --blog-divider-inverse: var(--blog-divider-light-1);
  --blog-divider-inverse-light: var(--blog-divider-light-2);
  --blog-text-h: var(--blog-gray-light-1);
  --blog-text-1: var(--blog-text-dark-1);
  --blog-text-2: var(--blog-text-dark-2);
  --blog-text-3: var(--blog-text-dark-3);
  --blog-text-4: var(--blog-text-dark-4);
  --blog-text-code: var(--blog-text-dark-code);
  --blog-text-inverse-1: var(--blog-text-light-1);
  --blog-text-inverse-2: var(--blog-text-light-2);
  --blog-text-inverse-3: var(--blog-text-light-3);
  --blog-text-inverse-4: var(--blog-text-light-4);
  --blog-brand-highlight: var(--blog-brand-dark);
  --blog-brand: var(--blog-green);
  --blog-brand-light: var(--blog-green-light);
  --blog-brand-dark: var(--blog-green-dark);
  --blog-border-color-1: #4c4d4f;
  --blog-border-color-2: var(--blog-border-color-light);
  --blog-border-color-3: var(--blog-border-color-darker);
  --blog-shadow-color: var(--blog-gray-dark-2);
}

/* element 的深色主题色 */
html.dark {
  --el-color-primary: #409eff;
  --el-color-primary-light-3: #3375b9;
  --el-color-primary-light-5: #2a598a;
  --el-color-primary-light-7: #213d5b;
  --el-color-primary-light-8: #1d3043;
  --el-color-primary-light-9: #18222c;
  --el-color-primary-dark-2: #66b1ff;
  --el-color-success: #67c23a;
  --el-color-success-light-3: #4e8e2f;
  --el-color-success-light-5: #3e6b27;
  --el-color-success-light-7: #2d481f;
  --el-color-success-light-8: #25371c;
  --el-color-success-light-9: #1c2518;
  --el-color-success-dark-2: #85ce61;
  --el-color-warning: #e6a23c;
  --el-color-warning-light-3: #a77730;
  --el-color-warning-light-5: #7d5b28;
  --el-color-warning-light-7: #533f20;
  --el-color-warning-light-8: #3e301c;
  --el-color-warning-light-9: #292218;
  --el-color-warning-dark-2: #ebb563;
  --el-color-danger: #f56c6c;
  --el-color-danger-light-3: #b25252;
  --el-color-danger-light-5: #854040;
  --el-color-danger-light-7: #582e2e;
  --el-color-danger-light-8: #412626;
  --el-color-danger-light-9: #2b1d1d;
  --el-color-danger-dark-2: #f78989;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #b25252;
  --el-color-error-light-5: #854040;
  --el-color-error-light-7: #582e2e;
  --el-color-error-light-8: #412626;
  --el-color-error-light-9: #2b1d1d;
  --el-color-error-dark-2: #f78989;
  --el-color-info: #909399;
  --el-color-info-light-3: #6b6d71;
  --el-color-info-light-5: #525457;
  --el-color-info-light-7: #393a3c;
  --el-color-info-light-8: #2d2d2f;
  --el-color-info-light-9: #202121;
  --el-color-info-dark-2: #a6a9ad;
  --el-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000,
    0px 8px 16px -8px #000000;
  --el-bg-color-page: #0a0a0a;
  --el-bg-color: #141414;
  --el-bg-color-overlay: #1d1e1f;
  --el-text-color-primary: #e5eaf3;
  --el-text-color-regular: #cfd3dc;
  --el-text-color-secondary: #a3a6ad;
  --el-text-color-placeholder: #8d9095;
  --el-text-color-disabled: #6c6e72;
  --el-border-color-darker: #636466;
  --el-border-color-dark: #58585b;
  --el-border-color: #4c4d4f;
  --el-border-color-light: #414243;
  --el-border-color-lighter: #363637;
  --el-border-color-extra-light: #2b2b2c;
  --el-fill-color-darker: #424243;
  --el-fill-color-dark: #39393a;
  --el-fill-color: #303030;
  --el-fill-color-light: #262727;
  --el-fill-color-lighter: #1d1d1d;
  --el-fill-color-extra-light: #191919;
  --el-fill-color-blank: transparent;
  --el-mask-color: rgba(0, 0, 0, 0.8);
  --el-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}

html.dark .el-button {
  --el-button-disabled-text-color: rgba(255, 255, 255, 0.5);
}
html.dark .el-card {
  --el-card-bg-color: var(--el-bg-color-overlay);
}
html.dark .el-empty {
  --el-empty-fill-color-0: var(--el-color-black);
  --el-empty-fill-color-1: #4b4b52;
  --el-empty-fill-color-2: #36383d;
  --el-empty-fill-color-3: #1e1e20;
  --el-empty-fill-color-4: #262629;
  --el-empty-fill-color-5: #202124;
  --el-empty-fill-color-6: #212224;
  --el-empty-fill-color-7: #1b1c1f;
  --el-empty-fill-color-8: #1c1d1f;
  --el-empty-fill-color-9: #18181a;
}
